name: CI
on:
  push:
      branches: [main]
jobs:
  build:
      name: Build, lint and test on Node ${{ matrix.node }} and ${{ matrix.os }}
     runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: ['14.x', '16.x', '>=18.x']
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
    - name: Checkout repo 
    uses: actions/checkout@v3

    - name: Use Node ${{ matrix.node }}
    uses: pnpm/action-setup@v2
      with:
        node-version: ${{ matrix.node }}
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
    - name: Install dependencies and build (with cache)
      run: pnpm install

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test --ci --coverage --maxWorkers=2

      - name: Build
        run: pnpm build
